.statisticsContainer {
  .contentStyle {
    height: 160px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
  }

  .card {
    min-height: 170px;
    border-radius: 25px;
    background: #aaaaaa;
    padding: 8px;
  }
}

@media screen and (max-width: 680px) {
  .statisticsContainer {
    display: inline;
  }
}
