.map {
    height: 500px;
    width: 100%;
    margin-top: 8px;
}

/* Prevent map from slipping down when screen sizes reduces */
@media screen and (max-width: 768px) {
    .map {
        margin-top: -20vh;
    }
  }