.card {
  min-height: 170px;
  border-radius: 25px;
  background: #aaaaaa;
  position: relative;

  .statisticVizRight {
    float: right;
  }

  .statisticVizLeft {
    float: left;
  }

  .percentageViz {
    display: flex;
    justify-content: center;
  }

  .loader {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .statisticNumber {
    display: table-cell;
    vertical-align: middle;
  }
}
